{% extends 'music/base.html' %}
{% block title %} Viberr - Album Details {% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-2">
        <img src="{{ album.album_Logo.url }}" class="logo">
        <h1>{{ album.album_title }}</h1>
        <h3>{{ album.artist }}</h3>
        <h3>{{ album.genre }}</h3>
          <form action="{% url 'music:album-update' album.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ album.id }}"/>
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </form>
    </div>

        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {% endif %}

    <div class="col-sm-offset-1 col-sm-9 album-details">
        <h3>All Songs</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Audio File</th>
                <th>Favorite</th>
                <th>Actions</th>
            </tr>
        {% for song in album.song_set.all %}
            <tr>
                <td>{{ song.song_title }}</td>
                <td>{{ song.file_type }}</td>
                <td>{% if song.is_favorite %}
                    <img src="http://www.rw-designer.com/icon-image/9290-16x16x32.png/">
                {% endif %}</td>
                <td> - </td>
            </tr>
        {% endfor %}
         </table>
    </div>
</div>
</div>
{% endblock %}

<!--<ul>
    {% for song in album.song_set.all %}
    <li> {{ song.song_title }} - {{ song.file_type }} </li>
    {% endfor %}
</ul>-->

