{% for field in form %}
    <div class="group-form">
        <div class="col-sm-offset-2 col-sm-10 error-msg">
            <span class="text-danger small">{{ field.errors }}</span> <!-- if no artist name inserted for exmpl -->
        </div>
            <label class="control-label col-sm-2">{{ field.label_tag }}</label>  <!-- generates labels from fields in view -->
        <div class="col-sm-8">{{ field }}</div>
    </div>
{% endfor %}