<!-- comes from base.html -->
{% extends 'music/base.html' %}

{% block body %}
    <ul>
        <li>
        {% for album in all_albums %}
            <div class="container col-offset-sm-2 col-sm-3 albumInCell">
                <a href="{% url 'music:detail' album.id %}"> <img src="{{ album.album_Logo.url }}" class="logo"></a>
                <div class="albumInfo">
                    <h2>{{ album.album_title }}</h2>
                    <h4>{{ album.artist }}</h4>
                    <h4>{{ album.genre }}</h4>
                    <form action="{% url 'music:album-delete' album.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" value="{{ album.id }}"/>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </li>
    </ul>
{% endblock %}
