body {
    background: white url('images/06.ai');
}

.navbar {
    border-radius: 0;
    border: none;
}

.navbar {
    background: white url('images/06-01.jpg');
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

li {
    list-style-type: none;
}

.album-details {
    background-color: #FFF;
    width: 65%;
    padding: 2%;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid gray;
    padding: 10px;
}

table td {
    padding: 4px;
}

.logo {
    width: 250px;
    height: 250px;
}

.albumInCell {
    background-color: #FFF;
    width: 350px;
    max-height: 410px;
    margin: 40px;
    padding: 10px;
    text-align: center;
}


.albumInfo {
    text-align: left;
    padding-left: 20px;
}